$color-primary:  rgb(4, 134, 209);
$color-edge-background: rgba(0, 0, 0, 0.931); 
$color-secondary: #fff; 
$color-white: rgb(255, 255, 255);

$color-grey-light: #f7f7f7;
$color-grey-light-2: #797979;

$color-grey-dark:  rgb(192, 192, 192);
$color-grey-dark-2:#777;
$color-grey-dark-3:rgb(92, 92, 92);
$color-grey-dark-4:#333;

$color-white-2: rgb(241, 241, 241);
$color-black: rgba(20,20,20,0.8);
$color-primary-light: rgba(1, 47, 104, 0.931);
$color-primary-dark : rgba(207, 7, 7, 0.931);
$color-radial-light: rgb(1, 47, 104);
$color-radial-dark : rgb(207, 7, 7);

$color-green: #028b19;

 
$color-card-primary-light: #6fd2d5;
$color-card-secondary-light: #ff7730;
$color-card-tertiary-light: #2998ff;

 
$color-card-primary-dark: #28b485;
$color-card-secondary-dark: #ffb900;
$color-card-tertiary-dark: #5643fa;


$color-grey-light-1: rgba(37, 37, 37, 0.931);


$color-button: rgb(175, 175, 175);
//NEON
$neon-yellow-1 : #FFFF00;
$neon-yellow-2: #FFFF33;
$neon-yellow-3: #F2EA02;
$neon-yellow-4: #E6FB04;
$neon-red-1: #FF0000;
$neon-red-2: #FD1C03;
$neon-red-3: #FF3300;
$neon-green-1: #00FF00;
$neon-green-2: #00FF33;
$neon-green-3: #00FF66;
$neon-green-4: rgba(51, 255, 0, 0.883);
$neon-blue-1: #00FFFF;
$neon-blue-2: #099FFF;
$neon-blue-3: #0062FF;
$neon-blue-4: #0033FF;
$neon-pink-1: #FF00FF;
$neon-pink-2: #FF00CC;
$neon-pink-3: rgba(255, 0, 153, 0.616);
$neon-pink-4: #CC00FF;
$neon-purple-1: #9D00FF;
$neon-purple-2: #CC00FF;
$neon-purple-3: #6E0DD0;
$neon-purple-4: #9900FF;

//font
$default-font-size: 1.6rem;
$heading-primary-font-size: 1.6rem;
$heading-secondary-font-size: 3.2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem; 
$gutter-horizontal: 6rem;
 