.header{ 
	height: 95vh; 
	background-image: linear-gradient(
        to right bottom,
        rgb(7, 30, 38),
        rgb(6, 37, 53),
        rgb(126, 19, 70)
        ),url(../img/bar.jpg);
    background-size: cover;
    background-position: top;
	position: relative;
 
    -webkit-clip-path: polygon(0 0 ,100%  0 ,100% 75vh , 0 100%);
    clip-path: polygon(0 0 ,100%  0 ,100% 75vh , 0 100%);
    
    @include respond(tab-port){ 
        -webkit-clip-path: polygon(0 0 ,100%  0 ,100% 85vh , 0 100%);
        clip-path: polygon(0 0 ,100%  0 ,100% 85vh , 0 100%);
       
   }


    &__logo-box{
      
        z-index:1;

    }
     
    &__logo{
    padding-left: 2%;
    margin-top: 1%;
     
	height: 5%;
    z-index:1;
    
    @include respond(tab-port){
        margin-top: 4%;
        height: 3%;
     }
    }

    &__text-box{
        position: absolute;
        top: 40%;  
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
    
    }

}
