 
.btn{
    &,  
    &:link, &:visited{
 
        text-transform: uppercase;
        text-decoration: none; /*To get rid of the  underline  */
        padding: 1.5rem 2.5rem;
        display: inline-block;
        font-size: $default-font-size;
        border-radius: 10rem;

        font-weight: 700;
        letter-spacing: 0.1rem;
 
        transition: all .2s;
 
         position: relative;
         text-shadow: 0.2rem 0.2rem 2rem rgb(100, 150, 191);
 
         border: none;
         cursor: pointer;

         

    }

    &:hover{
       
        transform: translateY(-0.5rem);
 
        box-shadow: 0 1rem 2rem rgb(0, 0, 0);

 
          &::after{
 
            transform:scaleX(1.4) scaleY(1.6);
            opacity:0;
            }
    
     }

     
    &:active 
    &:focus{  
        outline:none;
        transform: translateY(-0.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        
    }
        
    &--white{  
        background-color :         rgb(19, 19, 19);
        color: rgb(169, 212, 250);
        box-shadow: 0 .55rem 1.0rem   rgb(0, 0, 0);

        &::after{
            background-color: rgb(19, 19, 19);
        }
    }


    &--green{  
        background-color: $color-green;
        color: rgb(231, 231, 231);
        box-shadow: 0 .55rem 1.0rem rgb(0, 0, 0);

        &::after{
            background-color:$color-green;
    
        }

    }

    &::after{  
        content: "";
        display: inline-block;
        height: 100%; 
        width: 100%; 
        border-radius: 10rem;
 
        position: absolute;  
        top: 0;
        left: 0;
        /* To make it behind */
        z-index:-1;
        transition: all .4s;

    }

    &--animated{
        animation: moveInFromBottom 1.5s ease-out .75s; 
     
        animation-fill-mode: backwards; 
    
    }

}



.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-button;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-button;
        padding: 3px;

    }

    &:hover{
        background-color: $color-button;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
        border-radius: 0.16rem;

    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black,.15);
        transform: translateY(0);

    }

}
 
