.feature-box{
    background-color: rgba(255, 255, 255, 0.9);
    font-size:1.5rem;
    padding:2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow:  0 1.5rem 4rem rgba(0, 103, 121, 0.9);
    transition: transform  .2s;

    @include respond(tab-port){  
        padding:2rem;
    }

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
 
        display:inline-block;
        background-image: linear-gradient(to right, rgba(245, 8, 8, 0.9),rgba(25, 55, 221, 0.9));
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 1rem;

        &--back{
            transform: rotateY(180deg);
        }

        @include respond(tab-port){  
            margin-bottom:0;
        }
    


    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
 

}
